.App {
  background-color: #55495B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.app-title-container {
  width: 35vw;
  display: flex;
  justify-content: flex-start;
}

.posts-wrapper {
  padding: 0;
}

h1 {
  text-align: left;
  color: white;
}

.loading-text {
  color: white;
}
